.top {
	width: 100%;
}
a:hover {
	cursor: pointer;
	color: #ff5400;
}
.clearfix {
	overflow: auto;
	_height: 1%
}
.title {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 35px;
	z-index: 3200;
	background-color: #f5f5f5;
	border-bottom: 1px solid #eeeeee;
}
.title_left {
	width: 400px;
	float: left;
	height: 35px;
	margin-left: 50px;
}
.title_left li,
.title_right li {
	padding-left: 10px;
	float: left;
	width: 75px;
	height: 35px;
	line-height: 35px;
	text-align: left;
}
.title_right {
	float: right;
	height: 35px;
	margin-right: 50px;
}
.title_left li a,
.title_right li a {
	color: #6d6d6d;
}
.ver {
	width: 15px;
	height: 35px;
}
.sperate2 {
	border-left: 1px solid #f5ece3;
}
.sperate1 {
	border-right: 1px solid #e3dedd;
}
.arrow {
	background: url(img/smallarrow.png);
	background-position: 65px;
	background-repeat: no-repeat;
}
.arrow2 {
	background: url(img/rarrow.png);
	background-position: 65px;
	background-repeat: no-repeat;
}
#mail i {
	height: 15px;
	width: 12px;
	padding-right: 5px;
}
#mail img {
	vertical-align: middle;
}
.icon i {
	height: 16px;
	width: 12px;
	padding-right: 5px;
}
.icon img {
	vertical-align: middle;
}
.personal {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 35px;
	left: 50px;
	width: 270px;
	height: 200px;
	border: 1px solid #EEEEEE;
	border-top: none;
}
.personal_top {
	width: 100%;
	height: 85px;
}
.personal_top_left,
.personal_top_right {
	float: left;
}
.personal_top_left {
	width: 90px;
	padding-left: 10px;
	padding-top: 10px;
}
.personal_top_right {
	width: 170px;
}
.personal_top_right_top {
	text-align: right;
	margin-bottom: 10px;
}
.personal_top_right_top a {
	margin-top: 10px;
	display: inline-block;
	padding: 0 5px;
}
.personal_top_right_mid,
.personal_top_right_bot {
	padding-left: 5px;
}
.personal_mid {
	width: 100%;
	margin-top: 20px;
}
.personal_mid a {
	display: block;
	width: 230px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: #e9fecf;
	line-height: 20px;
	border: 1px solid #ddf6be;
}
.personal_bot {
	height: 75px;
	margin-top: 10px;
	width: 270px;
}
.list {
	margin-left: 15px;
	display: inline-block;
	width: 240px;
	height: 75px;
	position: relative;
	overflow: hidden;
}
.list_content {
	position: absolute;
	left: 0;
	top: 0;
	width: 960px;
	height: 70px;
	display: inline-block;
	float: left;
}
.list_content li {
	padding-left: 0;
	float: left;
	width: 60px;
	height: 70px;
	line-height: 20px;
	text-align: center;
}
.personal a:hover {
	color: red;
	cursor: pointer;
}
.ar {
	display: inline-block;
	width: 15px;
	height: 60px;
	position: absolute;
}
#lar {
	float: left;
	background: url(img/leftarrow.png) center no-repeat;
}
#rar {
	float: right;
	background: url(img/rightarrow.png) center no-repeat;
}
.white:hover {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
.title a:hover {
	color: #dd6f38;
}
.rred {
	color: #ff372d;
	font-weight: bold;
}
.mytb {
	background-color: #fff;
	display: none;
	width: 90px;
	position: absolute;
	top: 35px;
	border: 1px solid #ddf6be;
	border-top: none;
}
#shopcar {
	left: 636px;
}
#shine {
	left: 806px;
}
#shop {
	left: 981px;
}
#server {
	left: 1065px;
}
.mytb li {
	padding: 0;
	height: 35px;
}
.mytb a {
	display: inline-block;
	padding-left: 5px;
	height: 25px;
	width: 85px;
	margin: 5px 0;
	line-height: 25px;
}
.mytb a:hover {
	background-color: #f5f5f5;
}
.msgbox {
	background-color: #fff;
	display: none;
	position: absolute;
	left: 133px;
	top: 35px;
	width: 290px;
	border: 1px solid #ddf6be;
	border-top: none;
}
.msgbox_top,
.msgbox_bot {
	height: 36px;
	width: 100%;
	font-size: 15px;
}
.msgbox_top {
	border-bottom: 1px solid #ddf6be;
	text-align: center;
	font-weight: bold;
}
.msgbox_mid {
	text-align: center;
	margin-top: 10px;
}
.msgbox_mid p {
	font-size: 14px;
	width: 100%;
}
.msgbox_mid_bot a {
	display: inline-block;
	width: 144px;
	height: 32px;
	background-color: #fff0e8;
	border: 1px solid #ffe8de;
}
.msgbox_mid_bot a:hover {
	background-color: #ffe6da;
	color: #6d6d6d;
}
.msgbox_bot {
	border-top: 1px solid #ddf6be;
	margin-top: 10px;
}
.msgbox_bot_left {
	height: 32px;
	width: 100px;
	float: left;
	position: relative;
}
#msg_set,
#msg_wri {
	display: inline-block;
	margin-left: 15px;
	height: 15px;
	width: 15px;
	vertical-align: middle;
}
#msg_set {
	background: url(img/set.png);
}
#msg_wri {
	background: url(img/write.png);
}
.msgbox_bot_right {
	float: right;
	padding-right: 20px;
}
#msg_set:hover {
	background: url(img/set2.png);
}
#msg_wri:hover {
	background: url(img/write2.png);
}
.move {
	height: 20px;
	width: 50px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	border: 1px solid #666;
	background-color: #fff;
	box-shadow: 2px 2px  1px #888888;
}
.nav {
	background-color: #fff;
	display: none;
	width: 1203px;
	position: absolute;
	left: 52px;
	top: 35px;
	border: 1px solid #ddf6be;
	border-top: none;
}
.nav a {
	height: 20px;
	line-height: 20px;
}
.nav div {
	float: left;
	width: 300px;
	height: 270px;
	margin: 20px 0;
}
.nav h2 {
	padding-left: 10px;
	font-size: 18px;
}
.nav li {
	float: left;
	text-align: left;
}
.nav_1 h2 {
	color: #ff5500;
}
.nav_1 li {
	width: 65px;
}
.nav_1 a {
	display: inline-block;
	padding: 5px;
}
.nav_1 a:hover {
	background-color: #ff5500;
	color: #fff;
}
.nav_2 h2 {
	color: #a0b959;
}
.nav_2 a {
	display: inline-block;
	padding: 5px;
}
.nav_2 a:hover {
	background-color: #a0b959;
	color: #fff;
}
.nav_3 h2 {
	color: #df61ab;
}
.nav_3 a {
	display: inline-block;
	padding: 5px;
}
.nav_3 a:hover {
	background-color: #df61ab;
	color: #fff;
}
.nav_4 h2 {
	color: #52a0e5;
}
.nav_4 a {
	display: inline-block;
	padding: 5px;
}
.nav_4 a:hover {
	background-color: #52a0e5;
	color: #fff;
}
.nav_1,
.nav_2,
.nav_3 {
	border-right: 1px solid #ddf6be;
}
.H {
	background: url(img/T1hOy5XhNnXXXXXXXX-9-14.gif);
	display: inline-block;
	height: 12px;
	width: 10px;
}
.G {
	background: url(img/T1lni5XhXXXXXXXXXX-9-14.gif);
	display: inline-block;
	height: 12px;
	width: 10px;
}
.search {
	width: 1190px;
	margin: 0 auto;
	margin-top: 35px;
}
.logo {
	margin-top: 30px;
	padding-right: 100px;
}
.logo,
.searchbox {
	float: left;
}
.searchbox {
	margin-top: 30px;
}
.searchbox li {
	float: left;
}
.searchbox_top a {
	display: inline-block;
	width: 50px;
	height: 22px;
	line-height: 22px;
	color: black;
	text-align: center;
}
.searchbox_top a:hover {
	background-color: #f9e6e6;
}
#bao a {
	color: white;
	background-color: #ff5400;
}
.ttb {
	float: left;
	width: 620px;
	height: 36px;
	border: 2px solid #ff5400;
}
.sebtn {
	float: left;
	height: 40px;
	width: 100px;
	background-color: #ff5400;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.searchbox_bot a {
	display: inline-block;
	padding: 5px 3px;
}
#search_more {
	padding: 0;
	padding-left: 5px;
	float: right;
	width: 35px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #666;
	margin-right: 10px;
	margin-top: 5px;
}
#search_more i {
	display: inline-block;
	width: 6px;
	height: 9px;
	margin-left: 3px;
	background: url(img/mo.png);
	background-repeat: no-repeat;
}
#search_more:hover {
	color: #fff;
	background-color: #ff5400;
}
.searchbox_bot a {
	color: #666;
}
.mid {
	width: 1200px;
	margin-left: 40px;
	position: relative;
}
.mid_nav_h {
	width: 170px;
	height: 36px;
	background-color: #ff5400;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	padding-left: 20px;
}
.mid_nav {
	border: 1px solid #ff5400;
	width: 190px;
	background-color: #fff;
	float: left;
}
.mid_nav a {
	color: #666;
}
.mid_nav a:hover {
	color: #ff5400;
}
.mid_nav_market {
	border-bottom: 1px solid #ff5400;
}
.mid_nav_market h2,
.mid_nav_sec h2 {
	height: 36px;
	font-size: 14px;
	color: #666;
	padding-left: 10px;
	line-height: 36px;
}
.mid_nav_sec h2 {
	padding-left: 0;
}
.mid_nav_market i {
	background: url(img/market.png);
}
.mid_nav_sec_special i {
	background: url(img/special.png);
}
.mid_nav_sec_discount i {
	background: url(img/discount.png);
}
.mid_nav_market i,
.mid_nav_sec i {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 5px;
}
.mid_nav_market_li {
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
}
.mid_nav_market li a {
	display: inline-block;
	width: 40px;
}
#ishowmore {
	background: url(img/maarrow.png);
	display: inline-block;
	width: 14px;
	height: 28px;
	float: right;
	margin: 0;
}
#showmore {
	width: 49px;
}
.mid_nav_market_showmore {
	position: relative;
	padding-left: 8px;
	height: 26px;
	line-height: 26px;
	background-color: #fff;
	border: 2px solid #ff5400;
	border-right: none;
}
.cover {
	display: inline-block;
	position: absolute;
	right: -3px;
	z-index: 3100;
	top: 0px;
	width: 5px;
	height: 26px;
	background-color: #fff;
}
.mid_nav_sec_special,
.mid_nav_sec_discount,
.mid_nav_sec_last {
	margin: 0 10px;
	border-bottom: 1px solid #e6e7eb;
}
.mid_nav_sec li {
	float: left;
	width: 56px;
	height: 30px;
	line-height: 30px;
}
.mid_nav_more_box {
	position: absolute;
	left: 192px;
	top: 36px;
	z-index: 2900;
}
.mid_nav_more {
	background-color: #fff;
	display: none;
	float: left;
	border: 2px solid #ff5400;
}
.mid_nav_more a {
	color: #666;
	font-weight: normal;
}
.mid_nav_more a:hover {
	color: #ff5400;
}
.mid_nav_more_left {
	width: 500px;
	padding: 10px;
}
.mid_nav_more_left_modal {
	float: left;
	width: 240px;
	padding-right: 10px;
}
.mid_nav_more_left_modal li {
	float: left;
	height: 20px;
	padding: 6px;
}
.mid_nav_more_left_modal h5 {
	height: 30px;
	width: 100%;
	line-height: 30px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #e6e7eb;
}
.title_left_a {
	font-size: 16px;
}
.title_right_a {
	display: inline-block;
	float: right;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	padding-right: 10px;
}
.mid_nav_more_left_modal i {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 6px;
	margin-bottom: 4px;
}
#nav1 {
	background: url(img/market_1.png);
}
#nav2 {
	background: url(img/market_2.png);
}
#nav3 {
	background: url(img/market_3.png);
}
#nav4 {
	background: url(img/market_4.png);
}
#nav5 {
	background: url(img/market_5.png);
}
#nav6 {
	background: url(img/market_6.png);
}
#nav7 {
	background: url(img/market_7.png);
}
#nav8 {
	background: url(img/market_8.png);
}
#nav9 {
	background: url(img/market_9.png);
}
#nav10 {
	background: url(img/market_10.png);
}
#nav11 {
	background: url(img/market_11.png);
}
#nav12 {
	background: url(img/market_12.png);
}
#nav13 {
	background: url(img/market_13.png);
}
#nav14 {
	background: url(img/market_14.png);
}
#nav15 {
	background: url(img/market_15.png);
}
#nav16 {
	background: url(img/market_16.png);
}
#nav17 {
	background: url(img/market_17.png);
}
#nav18 {
	background: url(img/market_18.png);
}
#nav19 {
	background: url(img/market_19.png);
}
#nav20 {
	background: url(img/market_20.png);
}
#nav21 {
	background: url(img/market_21.png);
}
#nav22 {
	background: url(img/market_22.png);
}
#nav23 {
	background: url(img/market_23.png);
}
#nav24 {
	background: url(img/market_24.png);
}
#nav25 {
	background: url(img/market_25.png);
}
#nav26 {
	background: url(img/market_26.png);
}
.mid_nav_more_right,.mid_nav_more_left {
	float: left;
}
.mid_nav_more_right {} .adshell1 {
	margin: 50px auto;
	border-left: 1px solid #e6e7eb;
}
.smallad1 {
	text-align: center;
	padding: 15px;
}
.adshell {
	margin: 30px auto;
	border-left: 1px solid #e6e7eb;
}
.smallad {
	text-align: center;
	padding: 10px;
}
.mid_list{
	float: left;
	margin-left: 10px;
}
.mid_list_content{
	width: 100%;
	border-bottom: 2px solid #fe5400;
}
.mid_list_content li{
	float: left;
	width: 67px;
	text-align: center;
	height: 30px;
}
.mid_list_content li a{
	display: inline-block;
	padding: 5px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
}
.mid_list_content_left{
	color: #ff5400;
	font-size: 16px;
}
.mid_list_content_left:hover{
	background-color: #f4f4f4;
}
.mid_list_content_right{
	color: #666;
	font-size: 14px;
}
#split{
	width: 30px;
	color: #fe5400;
}
#split a{
		font-size: 13px;
}
.pic_box{
	float: left;
	margin-top: 20px;
	width: 690px;
}
.pic_top_left{
	width: 518px;
	height: 280px;
}
.pic_top_right,.pic_top_left,.pic_bot_right,.pic_bot_left{
	float: left;
}
.pic_bot_left{
	width: 518px;
	height: 198px;
}
.pic_top_right img{
	height: 280px;
}
.pic_bot_right img{
	height: 198px;
}
.mid_right{
	width: 300px;
	float: right;
	margin-top: 20px;
	border: 1px solid #eeeeee;
}
.mid_right a{
	color: #666;
}
.mid_right a:hover{
	color: #fe5400;
}
.mid_right li{
	float: left;
}
.tabbox{
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
}
.tabbox_top{
	background-color: #f7f7f7;
}
.tabbox_list{
	border-bottom: 1px solid #eeeeee;
	width: 59px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
.tabbox_content{
	width: 288px;
	height: 50px;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
.tabbox_content li{
	padding: 5px;
	text-align: center;
}
.tabbox_bot{
	height: 60px;
	overflow: hidden;
}
.tabbox_pic{
	display: inline-block;
	float: left;
	padding: 5px 10px 5px 5px;
}
.point{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
.mid_right_person{
	width: 100%;
}
.mid_right_person_top{
	width: 100%;
}
.mid_right_person img{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
.mid_right_person_vip{
	padding-top: 15px;
	padding-left: 10px;
	line-height: 25px;
	float: left;
}
.mid_right_person_vip i{
	vertical-align: middle;
	display: inline-block;
	margin-right: 3px;
	width: 18px;
	height: 18px;
	background: url(img/coin.png);
}
.mid_right_person_btn{
	width: 100%;
}
.person_btn{
	margin: 10px 5px;
	text-align: center;
	line-height: 25px;
	float: left;
	color: #fff;
	background-color: #fe4400;
	width: 90px;
	height: 25px;
}
.btn_icon{
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 25px;
	background: url(img/icon1.png);
}
.gund{
	height: 30px;
}
.gund_pic{
	display: inline-block;
	width: 70px;
	height: 30px;
	background: url(img/first.png);
}
.gund p{
	display: inline-block;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
}
.nav_conv{
	position: relative;
}
.icon_list li{
	width: 58px;
	height: 76px;
	float: left;
	text-align: center;
	display: table;
	border: 1px solid #eeeeee;
	position: relative;
	overflow: hidden;
}
.icon_list li span{
	display: table-cell;
	vertical-align: middle;
}
.icon_list li img{
	position: relative;
}
.chargebox{
/*	display: none;*/
	position: absolute;
	top:78px;
	overflow: hidden;
	background-color: #fff;
}
.phone{
	display: none;
	width: 293px;
	height: 154px;
	border: 1px solid #fe5400;
	padding-left: 5px;
	float: left;
}
.phone span,.game span,.travel b,.safe span{
	display: inline-block;
	position: absolute;
	top:-2px;
	height: 4px;
	background-color: #fff;
}
.phone span{
	left: 1px;
	width: 118px;
}
.charge_play .charge_number{
	float: left;
}
.QQ .charge_number{
	float: left;
}
.QQ .charge_for input{
	width: 190px;
}
.charge_number1{
	display: inline-block;
	float: left;
	border: 1px solid #cccccc;
	text-align: center;
	line-height: 26px;
}
.charge_number1 input{
	width: 68px;
	height: 29px;
	border: none;
	outline: none;
}
.charge_play .charge_number input{
	width: 40px;
}
.QQ .charge_number input{
	width: 60px;
}
.charge_phone p i,.charge_play p i{
	display: inline-block;
	width: 10px;
	height: 14px;
	background: url(img/rmb.png);
	vertical-align: middle;
	margin: 0 5px;
}
.charge_phone input{
	margin-top: 5px;
}
.game span{
	left: 120px;
	width: 59px;
}
.travel b{
	left: 180px;
	width: 59px;
}
.safe span{
	left: 240px;
	width: 59px;
}
.phone ul li,.game ul li{
	padding: 10px 15px;
}
.charge_number,.charge_for{
	display: inline-block;
	border: 1px solid #cccccc;
	text-align: center;
	line-height: 26px;
}
.charge_for{
	border-bottom: none;
}
.phone label,.game label,.ticket_box label{
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 28px;
	background-color: #f5f5f5;
	border: none;
}
.safe label{
	vertical-align: middle;
	display: inline-block;
	width: 80px;
	height: 28px;
	background-color: #f5f5f5;
	border: none;
}
.charge_for input,.charge_number input{
	vertical-align: middle;
	display: inline-block;
	width: 130px;
	height: 26px;
	border: none;
}
.game_box p i{
	display: inline-block;
	width: 10px;
	height: 14px;
	vertical-align: middle;
	margin:0  5px;
	background: url(img/rmb.png);
}
.game_box p input{
	vertical-align: middle;
}
.charge_btn input{
	width: 68px;
	height: 26px;
	background-color: #fe4400;
	color: #fff;
	margin-right: 20px;
}
.charge_for i{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.phone .charge_for i{
	background: url(img/record.png);
}
.game .charge_for i{
	background: url(img/gamename.png);
	margin-right: 5px;
}
.charge_number i,.charge_number1 i{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(img/down.png);
}
.game .charge_number i{
	margin-right: 5px;
}
.charge_close{
	display: inline-block; 
	width: 20px;
	height: 20px;
	float: right;
	text-align: center;
	line-height: 20px;
}
.charge_close:hover{
	color: #666;
	background-color: #ccc;

}
.game{
	display: none;
	width: 298px;
	height: 154px;
	border: 1px solid #fe5400;
	float: left;
}
.game .charge_list_bot p input{
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
}
.ticket_box .charge_number input{
	width: 60px;
}
.position i{
	background: url(img/position.png);
}
.rarrow{
	display: inline-block;
	width: 26px;
	height: 19px;
	background: url(img/right.png);
}
.datetime i{
	background: url(img/date.png);
}
.right_border{
	border-right: 1px solid #eeeeee;
}
.land .charge_btn,.inter .charge_btn,.hotel .charge_btn,.door .charge_btn,.train .charge_btn,.game .charge_btn{
	margin-top: 5px;
}
.travel{
	display: none;
	width: 293px;
	height: 154px;
	border: 1px solid #fe5400;
	padding-left: 5px;
}
.travel ul li{
	margin: 6px 3px;
}
.ticket_box,.safe_box,.phone_box,.game_box{
	position: relative;
	overflow: hidden;
	height: 120px;
	width: 290px;
}
.showbox,.safe_box_show,.phone_showbox,.game_showbox{
	position: absolute;
	width: 1450px;
	height: 120px;
}
.land_check>input{
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0 5px;
}
.land_check>i{
	display: inline-block;
	font-style: normal;
	float: right;
	margin-right: 25px;
	color: #666;
}
.land,.inter,.door,.hotel,.train,.car,.accident,.health,.out,.specialsafe,.charge_phone,.charge_play,.dian,.QQ,.game_coin,.webgame{
	display: inline-block;
	width: 280px;
	height: 120px;
	padding-left: 10px;
	float: left;
}
.safe ul li{
	margin: 10px 10px;
}
.safe{
	display: none;
	width: 293px;
	height: 154px;
	border: 1px solid #fe5400;
	padding-left: 5px;
}
.safe .charge_btn,.charge_play .charge_btn{
	margin-top: 7px;
}
.accident .charge_btn input,.health .charge_btn input,.out .charge_btn input,.specialsafe .charge_btn input{
	width: 100px;
}

.game_coin .charge_for input{
	width: 60px;
}
.game_coin .charge_number input{
	width: 234px;
}
.game_picbox_top ul li{
	padding: 0 3px;
	height: 50px;
	width: 85px;
	float: left;
}
.game_picbox_bot{
	padding: 10px;
}
.game_picbox_bot ul li{
	padding: 0;
	float: left;
	width: 80px;
}
.game_picbox_top i{
	display: inline-block;
	width: 82px;
	height: 46px;
}
.game_picbox_bot i{
	display: inline-block;
	width: 18px;
	height: 18px;
}
#webicon1{
	background: url(img/webgame1.png);
}
#webicon2{
	background: url(img/webgame2.png);
}
#webicon3{
	background: url(img/webgame3.png);
}
#gameicon1{
	background: url(img/gameicon1.png);
}
#gameicon2{
	background: url(img/gameicon2.png);
}
#gameicon3{
	background: url(img/gameicon3.png);
}
#gameicon4{
	background: url(img/gameicon4.png);
}
#gameicon5{
	background: url(img/gameicon5.png);
}
#gameicon6{
	background: url(img/gameicon6.png);
}